html body {
    width: 100%;
    background-color: purple;
    margin: 0 20%;
}

div {
    background-color: plum;
    padding: 10px 10px;
}

#content {
    display: block;
}

#content.hide {
    display: none;
}

.center {
    margin: 0 auto;
}